
.div-color-board {
    padding: 20px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    flex-wrap: wrap;
    gap: 20px;
}




.justify-color-container {
    display: flex;
    justify-content: center;
}

.heading-h2 {
    padding: 20px;
}